{% extends template_base %}
{% load pagination %}

{% block title %}
  Notícias | {{ block.super }}
{% endblock  %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Notícias</li>
{% endblock  %}

{% block dashboard_title %}
Listagem de notícias
{% endblock  %}

{% block dashboard_container %}
  <div class="row">
    <div class="col mb-2" align="right">
      <a href="{% url 'news:register_new' %}" class="btn btn-dark"><i class="fas fa-plus"></i> Notícia</a>
    </div>
  </div>

  <div class="row">
    {% for new in new_list %}
      {% include "news/_new_edit.html" %}
    {% endfor %}
  </div>
  {% pagination request paginator page_obj %}
{% endblock  %}
