{% extends "base.html" %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Equipe</li>
{% endblock %}

{% block container_title %}Equipe{% endblock %}

{% block container %}
<div class="col">
  <p>Temos uma equipe bastante determinada a oferecer o melhor atendimento possível
    para os nossos alunos, seja no fornecimento de informações, seja na instruções ao
    longo de todo o processo.</p>
  <p>Fazendo com que o aluno sinta-se motivado ao longo da sua caminhada, conseguindo
    superar os obstáculos com sucesso e determinação.</p>
</div>
{% endblock %}
