{% extends template_base %}
{% load pagination %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Notícias</li>
{% endblock  %}

{% block dashboard_title %}
Listagem de notícias
{% endblock  %}

{% block container %}
  <div class="col-12">
    <div class="row">
      <div class="card-group">
        {% for new in new_list %}
          {% include "news/_new.html" %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-12">
    {% pagination request paginator page_obj %}
  </div>
{% endblock  %}
