{% extends "base.html" %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Quem somos</li>
{% endblock %}

{% block container_title %}Quem somos{% endblock  %}

{% block container %}
<div class="col">
  <p>Nós somos a Autoescola Esperança, estamos a mais de 20 anos no mercado, formando
    novos motoristas, prezando sempre pela boa educação no trânsito, com o intuito de
    construir um trânsito melhor no futuro.</p>
  <p>Dispomos de uma grande e acolhedora equipe, que não mede esforços para oferecer o
    melhor atendimentos aos nossos cliente, que acima disso são nossos amigos.</p>
  <p>E é por isso que estamos aqui, com esse novo canal, buscando diversificar nosso
    atendimento para melhorar cada vez mais a vida de nossos clientes, aproximando o
    contato entre a autoescola e o aluno, sem que o mesmo necessite se dirigir única e
    exclusivamente ao local físico para buscar informações sobre o seu processo.</p>
  <p>Estamos sempre em busca de melhorias, é por isso que o canal de sugestões estará
    aberto a criação de novos recursos ou melhoria dos já existentes.</p>
</div>
{% endblock %}
