{% extends template_base %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'diary:list_diaries' %}">Agendamentos</a></li>
  <li class="breadcrumb-item">Confirmação de agendamento</li>
{% endblock %}

{% block dashboard_title %}
  Confirmação de agendamento
{% endblock %}

{% block dashboard_container %}
<form method="post">
  {% include "_form.html" %}
  <div class="form-group">
    <button type="submit" class="btn btn-dark">Confirmar</button>
  </div>
</form>
{% endblock %}
