{% extends template_base %}
{% load pagination %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">Agendamentos</li>
    <li class="breadcrumb-item">Processo #{{ process.pk }}</li>
{% endblock %}

{% block dashboard_title %}
  Agendamentos do processo #{{ process.pk }}
{% endblock %}

{% block dashboard_container %}
<div class="row">
  <div class="col">
    <a href="{% url 'diary:register_appointment' process.pk %}" class="btn btn-dark"><i class="fas fa-calendar-plus"></i> Agendar</a>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <th>Nº</th>
        <th><i class="fas fa-desktop"></i> / <i class="fas fa-shuttle-van"></i></th>
        <th>Data</th>
        <th>Aluno</th>
        <th>Instrutor</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Opções</th>
      </tr>
      {% for a in appointments %}
      <tr>
        <td><a href="{% url 'diary:detail_appointment' a.pk %}">{{ a.pk }}</a></td>
        <td>
          {% if a.simulator %}
            <i class="fas fa-desktop"></i>
          {% else %}
            <i class="fas fa-shuttle-van"></i>
          {% endif %}
        </td>
        <td>{{ a.day }}</td>
        <td>{{ a.process.student }}</td>
        <td>{{ a.instructor }}</td>
        <td>{{ a.begin_time }}</td>
        <td>{{ a.end_time }}</td>
        <td>
          <a href="{% url 'diary:remove_appointment' a.pk %}"><i class="fas fa-trash-alt"></i></a>
          <a href="{% url 'diary:confirm_appointment' a.pk %}"><i class="fas fa-calendar-check"></i></a>
        </td>
        <th></th>
      </tr>
      {% endfor %}
    </table>
    <i class="fas fa-desktop"></i> Simulador / <i class="fas fa-shuttle-van"></i> Veículo
    {% pagination request paginator page_obj %}
    <a href="{% url 'process:detail_process' process.pk %}" class="btn btn-dark"><i class="fas fa-reply"></i> Voltar</a>
  </div>
</div>

{% endblock %}
