{% extends template_base %}
{% load pagination %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">Agendamentos</li>
{% endblock %}

{% block dashboard_title %}
  Listagem de agendamentos
{% endblock %}

{% block dashboard_container %}
<div class="row justify-content-between">
  <div class="col">
    {% block appointments_filters %}
      <a href="{% url 'diary:list_diaries' 'tudo' %}" class="btn btn-dark"><i class="fas fa-align-justify"></i> Tudo</a>
      <div class="btn-group">
        <a href="" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
          <i class="fas fa-filter"></i> Data
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="{% url 'diary:list_diaries' 'hoje' %}" class="dropdown-item">Hoje</a>
          <a href="{% url 'diary:list_diaries' 'essa-semana' %}" class="dropdown-item">Essa semana</a>
          <a href="{% url 'diary:list_diaries' 'esse-mes' %}" class="dropdown-item">Esse mês</a>
          <a href="{% url 'diary:list_diaries' 'esse-ano' %}" class="dropdown-item">Esse ano</a>
        </div>
      </div>
    {% endblock  %}
  </div>

  <div class="col-7">
    <form class="form-inline" method="get" action="">
      <div class="form-group">
        <input type="text" format="dd/MM/yyyy" class="form-control mx-1" name="begin" placeholder="dd/mm/yyyy" col="2" value="{{ request.GET.begin }}">
        à
        <input type="text" class="form-control mx-1" name="end" placeholder="dd/mm/yyyy" col="2" value="{{ request.GET.end }}">
      </div>
      <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
    </form>
  </div>

  <div class="col-2">
    {% if secretary %}
      <a href="{% url 'diary:register_appointment' %}" class="btn btn-dark"><i class="fas fa-calendar-plus"></i> Agendar</a>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table list">
      <tr>
        <th>Nº</th>
        <th>Proc</th>
        <th><i class="fas fa-desktop"></i> / <i class="fas fa-shuttle-van"></i></th>
        <th>Data</th>
        <th>Aluno</th>
        <th>Instrutor</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Opções</th>
      </tr>
      {% for a in appointments %}
      <tr>
        <td><a href="{% url 'diary:detail_appointment' a.pk %}">{{ a.pk }}</a></td>
        <td><a href="{% url 'process:detail_process' a.process.pk %}">#{{ a.process.pk }}</a></td>
        <td>
          {% if a.simulator %}
            <i class="fas fa-desktop"></i>
          {% else %}
            <i class="fas fa-shuttle-van"></i>
          {% endif %}
        </td>
        <td>{{ a.day }}</td>
        <td>{{ a.process.student }}</td>
        <td>{{ a.instructor }}</td>
        <td>{{ a.begin_time }}</td>
        <td>{{ a.end_time }}</td>
        <td>
          <a href="{% url 'diary:remove_appointment' a.pk %}"><i class="fas fa-trash-alt"></i></a>
          <a href="{% url 'diary:confirm_appointment' a.pk %}"><i class="fas fa-calendar-check"></i></a>
        </td>
        <th></th>
      </tr>
      {% endfor %}
    </table>
    <i class="fas fa-desktop"></i> Simulador / <i class="fas fa-shuttle-van"></i> Veículo
    {% pagination request paginator page_obj %}
  </div>
</div>

{% endblock %}
