{% extends template_base %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Remoção de funcionário</li>
{% endblock %}

{% block dashboard_title %}
  Remoção de funcionário
{% endblock %}

{% block dashboard_container %}
<p>Deseja realmente remover o secretário: {{ object }} ? <span class="text-danger">(Essa ação não pode ser desfeita)</span></p>
<form method="post">{% csrf_token %}
  <input type="submit" value="Sim" class="btn btn-dark"/>
  <a href="{% url 'accounts:list_employees' %}" class="btn btn-light">Não</a>
</form>
{% endblock %}
