{% extends "template_list_search.html" %}
{% load pagination %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Funcionários</li>
{% endblock %}

{% block dashboard_title %}
  Listagem de funcionários
{% endblock %}

{% block filters_options %}
  {{ block.super }}
  <div class="col">
    <a href="{% url 'accounts:list_employees' %}" class="btn btn-dark"><i class="fas fa-align-justify"></i> Tudo</a>
    <div class="btn-group">
      <a href="" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-user-friends"></i> Tipo
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="{% url 'accounts:list_employees' 'secretario' %}" class="dropdown-item">Secretários</a>
        <a href="{% url 'accounts:list_employees' 'instrutor' %}" class="dropdown-item">Instrutores</a>
      </div>
    </div>
  </div>

  <div class="col" align="right">
    <a href="{% url 'accounts:register_employee' %}" class="btn btn-dark">
      <i class="fas fa-plus"></i> Funcionário
    </a>
  </div>
{% endblock  %}

{% block table_list %}
  <table class="table">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Nome</th>
        <th>Funções</th>
        <th>Username</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      {% for v in secretaries %}
        <tr>
          <td>#{{ v.pk }}</td>
          <td><a href="{{ v.get_absolute_url }}">{{ v.name }}</a></td>
          <td>
            <ul class="list-unstyled">
              {% for function in v.get_functions %}
                <li>{{ function }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>{{ v.username }}</td>
          <td>
            <a href="{% url 'accounts:delete_employee' v.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Remover</a>
            <a href="{% url 'inbox:register_message' v.pk %}" class="btn btn-primary btn-sm"><i class="fab fa-facebook-messenger"></i> Mensagem</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
