{% extends template_base %}
{% load pagination %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Funcionários</li>
{% endblock %}

{% block dashboard_title %}
  Listagem de funcionários
{% endblock %}

{% block dashboard_container %}
<div class="row justify-content-between">
    <div class="col">
      <a href="{% url 'accounts:list_employees' %}" class="btn btn-dark"><i class="fas fa-align-justify"></i> Tudo</a>
      <div class="btn-group">
        <a href="" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
          <i class="fas fa-user-friends"></i> Tipo
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="{% url 'accounts:list_employees' 'secretario' %}" class="dropdown-item">Secretários</a>
          <a href="{% url 'accounts:list_employees' 'instrutor' %}" class="dropdown-item">Instrutores</a>
        </div>
      </div>
    </div>

    <div class="col">
      <form class="form-inline" method="get">
        <div class="form-group">
          <input type="text" class="form-control" name="q" placeholder="Procurar" col="2" value="{{ request.GET.q }}">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
      </form>
    </div>

    <div class="col" align="right">
      <a href="{% url 'accounts:register_employee' %}" class="btn btn-dark">
        <i class="fas fa-plus"></i> Adicionar funcionário
      </a>
    </div>
</div>

  <table class="table list">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Nome</th>
        <th>Função</th>
        <th>Nome de usuário</th>
        <th>E-mail</th>
        <th>Salário</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      {% for v in secretaries %}
        <tr>
          <td>#{{ v.pk }}</td>
          <td><a href="{{ v.get_absolute_url }}">{{ v.name }}</a></td>
          <td>
            <ul class="list-unstyled">
              {% for function in v.get_functions %}
                <li>{{ function }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>{{ v.username }}</td>
          <td>{{ v.email }}</td>
          <td>R$ {{ v.salary }}</td>
          <td>
            <a href="{% url 'accounts:update_employee' v.pk %}"><i class="fas fa-pencil-alt"></i> Editar</a><br>
            <a href="{% url 'accounts:delete_employee' v.pk %}"><i class="fas fa-trash-alt"></i> Remover</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% pagination request paginator page_obj %}
{% endblock %}
