{% extends "template_list_search.html" %}
{% load pagination %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Alunos</li>
{% endblock %}

{% block dashboard_title %}
  Alunos cadastrados
{% endblock %}

{% block filters_options %}
  {{ block.super }}
  <div class="col" align="right">
    <a href="{% url 'accounts:register_student' %}" class="btn btn-dark"><i class="fas fa-plus"></i> Aluno</a>
  </div>
{% endblock  %}

{% block table_list %}
  <table class="table">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Nome</th>
        <th>Username</th>
        <th>E-mail</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      {% for v in students %}
        <tr>
          <td>#{{ v.pk }}</td>
          <td><a href="{% url 'accounts:detail_student' v.pk %}">{{ v.name }}</a></td>
          <td>{{ v.username }}</td>
          <td>{{ v.email }}</td>
          <td>
            <a href="{% url 'accounts:delete_student' v.pk %}" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i> Remover</a><br>
            <a href="{% url 'inbox:register_message' v.pk %}" class="btn btn-primary btn-sm">
              <i class="fab fa-facebook-messenger"></i> Mensagem</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
