{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'accounts:messages' %}">Contatos</a></li>
  <li class="breadcrumb-item">Contato</li>
{% endblock %}

{% block dashboard_container %}
  <div class="page-header">
    <h1><strong>Assunto: </strong>{{ contact.subject }}</h1>
  </div>

  <dl class="row">
    <dt class="col-2">Remetente</dt>
    <dd class="col-10">{{ contact.name }}</dd>

    <dt class="col-2">Data</dt>
    <dd class="col-10">{{ contact.created }}</dd>

    <dt class="col-2">Assunto</dt>
    <dd class="col-10">{{ contact.subject }}</dd>

    <dt class="col-2">Mensagem</dt>
    <dd class="col-10">{{ contact.message }}</dd>
  </dl>
  <a href="#" class="btn btn-dark">Responder</a>
{% endblock %}
