{% extends "base.html" %}

{% block title %}
  Recuperação de senha | {{ block.super }}
{% endblock  %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Recuperar senha</li>
{% endblock %}

{% block container_title %}Recuperação de senha{% endblock %}

{% block container %}
<div class="col-10">
  <form method="post">
    {% include "_form.html" %}
    <div class="form-group">
      <div class="col-md-9 col-md-offset-3">
        <button type="submit" class="btn btn-dark">Enviar</button>
      </div>
    </div>
  </form>
</div>
{% endblock  %}
