{% extends template_base %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Remoção de aula</li>
{% endblock %}

{% block dashboard_title %}
  Remoção de aula
{% endblock %}

{% block dashboard_container %}
<form method="post">{% csrf_token %}
  <p>Deseja realmente remover a aula? <span class="text-danger">(Essa ação não pode ser desfeita)</span></p>
  <input type="submit" value="Sim" class="btn btn-dark"/>
  <a href="{{ object.get_absolute_url }}" class="btn btn-light">Não</a>
</form>
{% endblock %}
