{% extends "dashboard.html" %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Processo #{{ process.pk }}</li>
{% endblock %}

{% block dashboard_title %}
  Detalhes do processo #{{ process.pk }}
{% endblock %}

{% block dashboard_container %}
<div class="row">
  <div class="col">
    Progresso: {{ process.get_percent }}%
    <div class="progress" style="height: 20px;">
      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{ process.get_percent }}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>Informações sobre o processo</h4>
    <strong>Aluno: </strong>{{ process.student }}<br>
    <strong>Data do início: </strong>{{ process.date_start }}<br>
    <strong>Data do término: </strong> {{ process.date_end }}<br>
  </div>
</div>

<div class="row">
  <div class="col">
  <div class="card-deck mb-3 text-center list">
    <!-- Exames -->
    <div class="card mb-4 bg-success text-white">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <a href="#" class="btn btn-block btn-lg btn-dark"><i class="fas fa-heartbeat"></i> Exames</a>
        </h4>
      </div>
      <div class="card-body">
        <h5 class="card-title mt-1"><i class="fas fa-list-ol"></i> Apto nos exames</h5>
        <p>
          Exame médico
          {% if process.exams.exam_medical %}
            <i class="fas fa-check-circle"></i>
          {% else %}
            <i class="fas fa-times-circle"></i>
          {% endif %}
        </p>
        <p>
          Exame psicológico
          {% if process.exams.exam_psychological %}
            <i class="fas fa-check-circle"></i>
          {% else %}
            <i class="fas fa-times-circle"></i>
          {% endif %}
        </p>
      </div>
      <div class="card-footer">
        <strong>Status:</strong> {{ process.exams.get_status_display }}
      </div>
    </div><!-- Fim de exames -->

    <!-- Curso teórico -->
    <div class="card mb-4 bg-secondary text-white">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <a href="#" class="btn btn-block btn-lg btn-dark"><i class="fas fa-pen-alt"></i> Curso teórico</a>
        </h4>
      </div>
      <div class="card-body">
        <h5 class="card-title mt-1"><i class="fas fa-list-ol"></i> 45 horas/aula</h5>
        <p>{{ process.theoretical_course.count_classes }} / 45 realizadas</p>
        <p>Prova teória: Não realizada</p>
      </div>
      <div class="card-footer">
        <strong>Status:</strong> {{ process.theoretical_course.get_status_display }}
      </div>
    </div><!-- Fim de curso teórico -->

    <!-- Curso prático -->
    <div class="card mb-4 bg-info text-white">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <a href="#" class="btn btn-block btn-lg btn-dark"><i class="fas fa-shuttle-van"></i> Curso prático</a>
        </h4>
      </div>
      <div class="card-body">
        <h5 class="card-title mt-1"><i class="fas fa-list-ol"></i> 5 horas/aula <i class="fas fa-desktop"></i></h5>
        <p>{{ process.practical_course.count_classes_simulator }} / 5 realizadas</p>

        <h5 class="card-title"><i class="fas fa-list-ol"></i> 20 horas/aula <i class="fas fa-car"></i></h5>
        <p>{{ process.practical_course.count_classes_car }} / 20 realizadas</p>
        <p>Prova prática: Não realizada</p>
      </div>
      <div class="card-footer">
        <strong>Status:</strong> {{ process.practical_course.get_status_display }}
      </div>
    </div><!-- Fim do curso prático -->
  </div>
  </div>
</div>
{% endblock %}
