{% extends template_base %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'process:list_processes' %}">Processos</a></li>
  <li class="breadcrumb-item"><a href="{% url 'process:detail_process' num_process %}">Processo #{{ num_process }}</a></li>
  <li class="breadcrumb-item">Aulas práticas</li>
{% endblock %}

{% block dashboard_title %}
  Aulas práticas do processo #{{ num_process }}
{% endblock %}

{% block dashboard_container %}
  <div class="row">
    <div class="col" align="right">
      <a href="{% url 'diary:process_appointments' num_process %}" class="btn btn-dark"><i class="fas fa-calendar-alt"></i> Agendamentos</a>
      {% if practical_course.process.theoretical_course.status == 'concluido' and practical_course.status != 'concluido' %}
        <a href="{% url 'process:register_practical_class' practical_course.pk %}" class="btn btn-dark"><i class="fas fa-plus"></i> Registar aula</a>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4>
        Aulas no simulador
        {% if practical_course.count_classes_simulator >= 5 %}
          <span class="badge badge-success">Concluído</span>
        {% endif %}
      </h4>
      <strong>Total de horas registradas:</strong> {{ practical_course.count_classes_simulator|floatformat:"1" }}h
      <table class="table list">
        <thead>
          <tr>
            <th>Aula</th>
            <th>Instrutor</th>
            <th>Data</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          {% for class in classes_simulator %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ class.instructor }}</td>
              <td>{{ class.day }}</td>
              <td>{{ class.begin_time|time:'H:i' }}</td>
              <td>{{ class.end_time|time:"H:i" }}</td>
              <td><a href="{% url 'process:remove_practical_class' class.pk %}" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i> Remover</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h4>
        Aulas com veículo
        {% if practical_course.count_classes_car >= practical_course.total_hours %}
          <span class="badge badge-success">Concluído</span>
        {% endif %}
      </h4>
      <strong>Total de horas registradas:</strong> {{ practical_course.count_classes_car|floatformat:"1" }}h
      <table class="table list">
        <thead>
          <tr>
            <th>Aula</th>
            <th>Instrutor</th>
            <th>Veículo</th>
            <th>Data</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          {% for class in classes_car %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ class.instructor }}</td>
              <td>{{ class.vehicle.slug }}</td>
              <td>{{ class.day }}</td>
              <td>{{ class.begin_time|time:'H:i' }}</td>
              <td>{{ class.end_time|time:"H:i" }}</td>
              <td><a href="{% url 'process:remove_practical_class' class.pk %}" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i> Remover</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
