{% extends template_base %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'process:list_processes' %}">Processos</a></li>
  <li class="breadcrumb-item">Remoção de processo</li>
{% endblock %}

{% block dashboard_title %}
  Remoção de processo
{% endblock %}

{% block dashboard_container %}
<form method="post">{% csrf_token %}
  <p>Deseja realmente remover o processo de {{ object.student }} ? <span class="text-danger">(Essa ação não pode ser desfeita)</span></p>
  <input type="submit" value="Sim" class="btn btn-dark"/>
  <a href="{% url 'process:list_processes' %}" class="btn btn-light">Não</a>
</form>
{% endblock %}
