{% extends "dashboard.html" %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'process:list_processes' %}">Processos</a></li>
  <li class="breadcrumb-item"><a href="{% url 'process:detail_process' num_process %}">Processo #{{ num_process }}</a></li>
  <li class="breadcrumb-item">Aulas teóricas</li>
{% endblock %}

{% block dashboard_title %}
  Aulas teóricas do processo #{{ num_process }}
{% endblock %}

{% block dashboard_container %}
  {% if theoretical_course.process.exams.status == 'concluido' %}
  <div class="row">
    <div class="col" align="right">
      <a href="{% url 'process:register_theoretical_class' theoretical_course.pk %}" class="btn btn-dark"><i class="fas fa-plus"></i> Registar aula</a>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col">
      <table class="table list">
        <thead>
          <tr>
            <th>Aula</th>
            <th>Instrutor</th>
            <th>Data</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          {% for class in classes %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ class.instructor }}</td>
              <td>{{ class.day }}</td>
              <td>{{ class.begin_time|time:'H:i' }}</td>
              <td>{{ class.end_time|time:"H:i" }}</td>
              <td><a href="{% url 'process:remove_theoretical_class' class.pk %}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
          {% endfor %}
          <tr>
            <td></td><td></td><td></td>
            <td>Total de horas:</td>
            <td>{{ theoretical_course.count_classes|floatformat:"1" }}h</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
