{% extends "template_register.html" %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'process:list_processes' %}">Processos</a></li>
  <li class="breadcrumb-item">Atualizar processo</li>
{% endblock %}

{% block dashboard_title %}
  Atualizar processo
{% endblock %}

{% block register_container %}
  <form method="post">
    {% include "_form.html" %}
    <div class="form-group">
      <button type="submit" class="btn btn-dark">Enviar</button>
    </div>
  </form>
{% endblock %}
