<!DOCTYPE html>
{% load static %}
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
    {% block title %}
      Autoescola Esperança
    {% endblock %}
    </title>
    <link rel="icon" type="image/svg" href="{% static "assets/car-solid.svg" %}" />

    <link rel="stylesheet" href="{% static "assets/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  <body>
    <!-- Cabeçalho -->
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">
          <img src="{% static "assets/logo.svg" %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <!-- <a class="nav-link" href="{% url 'core:index' %}"><i class="fas fa-home"></i> Início</a> -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'core:quem_somos' %}"><i class="fas fa-car"></i> Quem somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-users"></i> Equipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-comment-dots"></i> Fórum</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'core:contact' %}"><i class="fas fa-envelope"></i> Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-map-marker-alt"></i> Localização</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-question-circle"></i> FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/juakacc/autoescola-esperanca"><i class="fab fa-github"></i></a>
            </li>
          </ul>
          {% if user.is_authenticated %}
            <a href="{% url 'accounts:index' %}" class="btn btn-outline-info mx-2">Painel</a>
            <a href="{% url 'core:logout' %}" class="btn btn-outline-danger"><i class="fas fa-sign-out-alt"></i> Sair</a>
          {% else %}
            <a href="{% url 'core:login' %}" class="btn btn-outline-warning"><i class="fas fa-sign-in-alt"></i> Área restrita</a>
          {% endif %}

        </div>
      </nav>
    </header>

    <div class="container">
      <!-- Mensagem a ser exibida para o usuário -->
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
      {% endif %}

      <!-- breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {% block breadcrumb %}
            <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
          {% endblock %}
        </ol>
      </nav>

      {% block container %}

      {% endblock %}

      <!-- <div id="map" style="width:400px;height:400px;background:yellow"></div>

      <script>
        function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(-6.990087, -36.245295),
            zoom: 18,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeD2CzlTtQLuNPLaRg6XQBbpZhIm1P66Q&callback=myMap"></script> -->
    </div> <!-- Fim do container -->

    <nav class="navbar fixed-bottom navbar-expand-sm bg-dark navbar-dark">
      <span class="navbar-text mx-auto">
        <i class="fas fa-pencil-alt"></i> com <i class="fas fa-heart"></i>.
        Copyright <i class="fas fa-copyright"></i> 2018 - Todos os direitos reservados
      </span>
    </nav>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static "assets/js/bootstrap.bundle.js" %}"></script>
    <!-- <script src="{% static "assets/js/bootstrap.js" %}"></script> -->
  </body>
</html>
