{% extends "base.html" %}

{% block title %}
  Contato | {{ block.super }}
{% endblock  %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Contato</li>
{% endblock %}

{% block container_title %}Fale conosco{% endblock  %}

{% block container_help %}
Qualquer dúvida, reclamação, sugestão, etc. <i class="far fa-grin-beam"></i><br />
Será um prazer pra gente te responder, faremos isso o mais rápido possível!
{% endblock  %}

{% block container %}
  <div class="col-10">
    <form method="post">
      {% include "_form.html" %}
      <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
          <button type="submit" class="btn btn-dark"><i class="far fa-hand-point-up"></i> Enviar</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
