{% extends "base.html" %}

{% block title %}
  Conta | {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  {# {{ block.super }} #}
  <li class="breadcrumb-item">
    <a href="{% url 'accounts:index' %}">Minha conta</a>
  </li>
{% endblock %}

{% block container %}
<!-- área de interação -->
<div class="row">
  <!-- Menu lateral -->
  <div class="col-3 list-group">

    <a class="list-group-item list-group-item-action" href="{% url 'accounts:messages' %}">
      <i class="fas fa-comments"></i> Mensagens
      {% if num_msg > 0 %}
      <span class="badge badge-warning badge-pill"><i class="far fa-envelope"></i> {{ num_msg }}</span>
      {% endif %}
    </a>
    {% block dashboard_menu %}

    {% endblock %}
    <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#menu-opcoes">
      <i class="fas fa-user-cog"></i> Opções <i class="fas fa-caret-down"></i>
    </a>
    <div id="menu-opcoes" class="panel-collapse collapse">
      <a href="{% url 'accounts:update' %}" class="list-group-item list-group-item-action"><i class="fas fa-user-edit"></i> Editar dados</a>
      <a href="{% url 'accounts:update_password' %}" class="list-group-item list-group-item-action"><i class="fas fa-user-lock"></i> Alterar senha</a>
    </div>
  </div><!-- Fim do menu lateral -->
  
  <!-- Área de amostragem -->
  <div class="col-9">
    <div class="page-header">
      <h2>{% block dashboard_title %}Bem vindo, {{ user }}{% endblock %}</h2>
    </div>

    {% block dashboard_container %}

    {% endblock %}
  </div>
</div>
{% endblock %}
