{% extends "dashboard.html" %}

{% block dashboard_menu %}
  <a class="list-group-item list-group-item-action" href="{% url 'process:list_processes' %}"><i class="fas fa-tasks"></i> Processos</a>
  <a class="list-group-item list-group-item-action" href="{% url 'diary:list_diaries_instructor' %}"><i class="fas fa-calendar-alt"></i> Meus agendamentos</a>

  <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#menu-pessoal">
    <i class="fas fa-edit"></i> Registrar aula <i class="fas fa-caret-down"></i>
  </a>
  <div id="menu-pessoal"class="panel-collapse collapse">
    <a href="{% url 'process:register_theoretical_class_instructor' %}" class="list-group-item list-group-item-action"><i class="fas fa-chalkboard"></i> Aula teórica</a>
    <a href="{% url 'process:register_practical_class_instructor' %}" class="list-group-item list-group-item-action"><i class="fas fa-car"></i> Aula prática</a>
  </div>

  <a class="list-group-item list-group-item-action" href="{% url 'accounts:list_vehicles' %}"><i class="fas fa-shuttle-van"></i> Veículos</a>

{% endblock %}
