{% extends template_base %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'accounts:messages' %}">Contatos</a></li>
  <li class="breadcrumb-item">Contato</li>
{% endblock %}

{% block dashboard_container %}
  <div class="page-header">
    <h1><strong>Assunto: </strong>{{ contact.subject }}</h1>
  </div>

  <dl class="row">
    <dt class="col-2">Remetente</dt>
    <dd class="col-10">{{ contact.name }}</dd>

    <dt class="col-2">Data</dt>
    <dd class="col-10">{{ contact.created }}</dd>

    <dt class="col-2">Assunto</dt>
    <dd class="col-10">{{ contact.subject }}</dd>

    <dt class="col-2">Mensagem</dt>
    <dd class="col-10">{{ contact.message }}</dd>
  </dl>
  <form method="post">
    {% include "_form.html" %}
    <button type="submit" class="btn btn-dark" name="button">Responder</button>
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-ligth">Voltar</a>
  </form>
{% endblock %}
