{% extends template_base %}
{% load pagination %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Contatos</li>
{% endblock %}

{% block dashboard_title %}
  Contatos recebidos
{% endblock %}

{% block dashboard_container %}
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th></th>
        <th>Nome</th>
        <th>Assunto</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {% for message in contacts %}
        <tr>
          <td>
            {% include "_display_status_message.html" %}
          </td>
          <td>
            {% if not message.visualized %}<strong>{% endif %}
              {{ message.name }}
            {% if not message.visualized %}</strong>{% endif %}
          </td>
          <td>
            {% if not message.visualized %}<strong>{% endif %}
            <a href="{% url 'accounts:message' message.pk %}" class="">{{ message.subject }}</a>
            {% if not message.visualized %}</strong>{% endif %}
          </td>
          <td>
            {% if not message.visualized %}<strong>{% endif %}
            {{ message.created }}
            {% if not message.visualized %}</strong>{% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% pagination request paginator page_obj %}
{% endblock %}
