{% extends "base.html" %}

{% block title %}
  Entrar | {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Login</li>
{% endblock %}

{% block container_title %}Login{% endblock  %}

{% block container_help %}Realize login para acessar funções da área restrita{% endblock  %}

{% block container %}
  <div class="col-md-8">
    <form class="form" method="post">
      {% include "_form_with.html" %}
      <div class="form-group">
        <a href="{% url 'accounts:reset_password' %}">Esqueceu a senha?</a>
        <div class="mt-2">
          <button type="submit" class="btn btn-dark"><i class="fas fa-sign-in-alt"></i> Entrar</button>
          <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-info"><i class="fas fa-reply"></i> Voltar</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
