<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Auto-escola Esperança</title>
    <link rel="icon" type="imagem/png" href="car-solid.svg" />

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">
          <img src="logo.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-home"></i> Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-car"></i> Quem somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-comment-dots"></i> Fórum</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-envelope"></i> Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-question-circle"></i> FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fab fa-github"></i></a>
            </li>
          </ul>
          <a href="" class="btn btn-outline-danger"><i class="fas fa-sign-out-alt"></i> Sair</a>
        </div>
      </nav>
    </header>

    <!-- breadcrumb -->
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
    </div>

    <!-- área de interação -->
    <div class="row">
      <!-- Menu lateral -->
      <div class="col-3 list-group">
        <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#menu-pessoal">
          <i class="fas fa-users"></i> Pessoal <i class="fas fa-caret-down"></i>
        </a>
        <div id="menu-pessoal"class="panel-collapse collapse">
          <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-user-edit"></i> Secretários</a>
          <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-key"></i> Professores</a>
          <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-key"></i> Alunos</a>
        </div>

        <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#menu-veiculos">
          <i class="fas fa-shuttle-van"></i> Veículos <i class="fas fa-caret-down"></i>
        </a>
        <div id="menu-veiculos"class="panel-collapse collapse">
          <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-car"></i> Carros</a>
          <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-motorcycle"></i> Motocicletas</a>
        </div>

        <a class="list-group-item list-group-item-action" href="#"><i class="fas fa-chart-area"></i> Relatórios</a>

        <a class="list-group-item list-group-item-action" href="#">
          <i class="fas fa-comments"></i> Mensagens
          <span class="badge badge-warning badge-pill">14</span>
        </a>

        <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#menu-opcoes">
          <i class="fas fa-cog"></i> Opções <i class="fas fa-caret-down"></i>
        </a>
        <div id="menu-opcoes" class="panel-collapse collapse">
          <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-user-edit"></i> Editar dados</a>
          <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-key"></i> Alterar senha</a>
        </div>
      </div><!-- Fim do menu lateral -->

      <!-- Área de amostragem -->
      <div class="col-9">
        <h2>Secretários</h2>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>CPF</th>
              <th>Nome</th>
              <th>Salário</th>
              <th>Turno</th>
              <th>Foto</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>111.222.333-55</td>
              <td><a href="">Joaquim Aníbal Rocha</a></td>
              <td>R$ 920</td>
              <td>Em manutenção</td>
              <td>...</td>
              <td>
                <a href="#"><i class="fas fa-pencil-alt"></i> Editar</a><br>
                <a href="#"><i class="fas fa-trash-alt"></i> Remover</a>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col">
            <strong>Identificador: </strong>
          </div>
          <div class="col">
            2
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <p>
        <i class="fas fa-pencil-alt"></i> com <i class="fas fa-heart"></i>.
        Copyright <i class="fas fa-copyright"></i> 2018 - Todos os direitos reservados
      </p>
	  </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
