<!-- Template padrão para confirmação de exclusão -->
{% extends template_base %}

{% block breadcrumb %}
  {{ block.super }}
{% endblock %}

{% block dashboard_container %}
<form method="post">{% csrf_token %}
  <p>
    {% block delete_message %}{% endblock  %}<br />
    <span class="text-danger">(Essa ação não pode ser desfeita)</span>
  </p>

  <button type="submit" name="button" class="btn btn-dark"><i class="fas fa-check"></i> Sim</button>
  <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-info"><i class="fas fa-times"></i> Não</a>
</form>
{% endblock %}
