{% extends "template_detail.html" %}

{% block breadcrumb %}
  {{ block.super }}
  {% if is_mine %}
    <li class="breadcrumb-item"><a href="{% url 'inbox:list_messages_sent' %}">Mensagens enviadas</a></li>
  {% else %}
    <li class="breadcrumb-item"><a href="{% url 'inbox:list_messages_received' %}">Mensagens recebidas</a></li>
  {% endif %}

  <li class="breadcrumb-item">Mensagem</li>
{% endblock %}

{% block dashboard_title %}
  <strong>Assunto: </strong>{{ message.subject }}
{% endblock  %}

{% block detail_container %}
  <dl class="row">
    <dt class="col-2">De</dt>
    <dd class="col-10">
      {% if message.sender.pk == user.pk %}<strong>{% endif %}
        {{ message.sender.name }}
      {% if message.sender.pk == user.pk %}</strong>{% endif %}
    </dd>

    <dt class="col-2">Para</dt>
    <dd class="col-10">
      {% if message.to.pk == user.pk %}<strong>{% endif %}
        {{ message.to.name }}
      {% if message.to.pk == user.pk %}</strong>{% endif %}
    </dd>

    <dt class="col-2">Assunto</dt>
    <dd class="col-10">{{ message.subject }}</dd>

    <dt class="col-2">Data</dt>
    <dd class="col-10">{{ message.created }}</dd>

    {% if message.message %} <!-- É uma resposta? -->
      <dt class="col-2">Resposta</dt>
    {% else %}
      <dt class="col-2">Mensagem</dt>
    {% endif %}
    <dd class="col-10">{{ message.message_text }}</dd>

    {% if message.response %} <!-- Tem uma resposta? -->
      <dt class="col-2">Resposta</dt>
      <dd class="col-10">{{ message.response }}</dd>
    {% endif %}

    {% if message.message %} <!-- Se é uma resposta mostra a mensagem -->
      <dt class="col-2">Mensagem</dt>
      <dd class="col-10">{{ message.message }}</dd>
    {% endif %}
  </dl>

  <div class="row">
    <div class="col">
      {% if not is_mine %}
        <form method="post">
          {% include "_form.html" %}
          <button type="submit" class="btn btn-dark" name="button">Responder</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
