{% extends "template_detail.html" %}

{% block breadcrumb %}
  {{ block.super }}
  {% if message.not_view %}
    <li class="breadcrumb-item"><a href="{% url 'inbox:list_messages_hidden' %}">Mensagens ocultas</a></li>
  {% elif is_mine %}
    <li class="breadcrumb-item"><a href="{% url 'inbox:list_messages_sent' %}">Mensagens enviadas</a></li>
  {% else %}
    <li class="breadcrumb-item"><a href="{% url 'inbox:list_messages_received' %}">Mensagens recebidas</a></li>
  {% endif %}
  <li class="breadcrumb-item">Mensagem</li>
{% endblock %}

{% block dashboard_title %}
  <strong>Assunto: </strong>{{ message.subject }}
{% endblock  %}

{% block detail_container %}
  <dl class="row">
    {% if message.sender.pk != user.pk %}
      <dt class="col-2">De</dt>
      <dd class="col-10">
        {{ message.sender.name }}
      </dd>
    {% endif %}

    {% if message.to.pk != user.pk %}
      <dt class="col-2">Para</dt>
      <dd class="col-10">
        {{ message.to.name }}
      </dd>
    {% endif %}

    <dt class="col-2">Assunto</dt>
    <dd class="col-10">{{ message.subject }}</dd>

    <dt class="col-2">Data</dt>
    <dd class="col-10">{{ message.created }}</dd>

    <dt class="col-2">Conteúdo</dt>
    <dd class="col-10 text-justify">{{ message.message_text }}</dd>

    {% if message.message %} <!-- Se é uma resposta mostra a mensagem -->
      <dt class="col-2">Mensagem</dt>
      <dd class="col-10"><a href="{% url 'inbox:detail_message' message.message.pk %}">{{ message.message.subject }}</a></dd>
    {% endif %}
  </dl>

  <div class="row">
    <div class="col">
      {% if not is_mine %}
        <form method="post">
          {% include "_form.html" %}
          <button type="submit" class="btn btn-dark" name="button"><i class="fas fa-share-square"></i> Responder</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
