{% extends "template_list_messages.html" %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">Mensagens enviadas</li>
{% endblock  %}

{% block dashboard_title %}
  Mensagens enviadas
{% endblock  %}

{% block table_list %}
  <table class="table list">
    <thead>
      <tr>
        <th>Destinatário</th>
        <th>Assunto</th>
        <th>Data do envio</th>
      </tr>
    </thead>
    <tbody>
      {% for message in msgs %}
        <tr>
          <td>
            {{ message.to }}
          </td>

          <td>
            <a href="{% url 'inbox:detail_message' message.pk %}">{{ message.subject }}</a>
          </td>

          <td>
            {{ message.created }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock  %}
